@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";

.font-playfair {
  font-family: 'Playfair Display', serif;
}

@layer components {
  .button-primary {
    @apply bg-white text-black py-2 px-4 font-bold rounded-2xl cursor-pointer hover:bg-gray-200
  }
  .button-secondary {
    @apply bg-[#5865f2] border-1 border-[#5865f2] text-white py-2 px-4 font-bold rounded-2xl cursor-pointer hover:bg-[#4752c4] hover:border-white
  }
}

* {
  box-sizing: border-box;
}

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', serif;
}

.font-one {
  font-family: var(--font-playfair)
}
