@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";

.font-playfair {
  font-family: 'Playfair Display', serif;
}

@layer components {
  .button-primary {
    @apply uppercase w-full text-center py-2 px-4 font-bold cursor-pointer hover:bg-gray-100 md:hover:text-[#5865f2]
  }
  .button-secondary {
    @apply bg-[#5865f2] border-1 border-[#5865f2] text-white py-2 px-4 font-bold rounded-2xl cursor-pointer hover:bg-[#4752c4] hover:border-white hover:text-[#5865f2]
  }
  .form-input {
    @apply border-1 border-white rounded-2xl p-2 my-4
  }
  .fieldset-primary {
    @apply flex flex-col justify-center items-center
  }
}

* {
  box-sizing: border-box;
}

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', serif;
}

.font-one {
  font-family: var(--font-playfair)
}
